<ion-content class="container">
  <ion-slides pager="true">
    <ion-slide>
      <img src="../../assets/static/logo.png" alt="peques logo">
      <h1>Impulsa el desarrollo de tu pequeñin</h1>
      <p>Transformamos a tu pequeñin del futuro con ❤️️ para el mundo</p>
      <img class="arcoiris" src="../../assets/static/arcoiris.gif" alt="arcoiris">
    </ion-slide>

    <ion-slide>
      <img src="../../assets/static/logo.png" alt="peques logo">
      <h1>No salgas de Casa</h1>
      <p>Instrúyelo tu mismo(a)</p>
      <img class="arcoiris" src="../../assets/static/arcoiris-2.gif" alt="arcoiris">
    </ion-slide>

    <ion-slide>
      <img src="../../assets/static/logo.png" alt="peques logo">
      <h1>La curva de Aprendizaje</h1>
      <p>Más Rápida para tu Peque</p>
      <img class="flechas" src="../../assets/static/flechas.gif" alt="flechas">
      <ion-button color="secondary" [routerLink]="['/login']">¡Comenzar Ahora!</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
