h1 {
  font-size: 32px;
}

h4 {
  color: white;
}

.etapa1 {
  border-radius: 10px;
  margin: 30px;
}
.etapa1 img {
  border-radius: 10px;
  width: 80px;
  margin-left: -15px;
  max-width: 120px;
}

img {
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  height: 180px;
  border-radius: 150px;
}

.container {
  margin: 0 15px;
}

.input {
  font-size: 20px;
  color: black;
}
