<ion-content [fullscreen]="true" color="primary">
  
  <h1 class="ion-text-center" style="border-bottom: 1px solid white;"><strong>Proceso</strong></h1>
  
  <ion-item class="etapa1" color="light" button>
    <ion-thumbnail slot="end">
      <img src="../../assets/static/dashboard-1.jpeg">
    </ion-thumbnail>
      <h4>Etapa 1: prelingüística</h4>
      <br>
  </ion-item>

  <ion-item class="etapa1" color="success" button>
    <ion-thumbnail slot="end">
      <img src="../../assets/static/dashboard-1.jpeg">
    </ion-thumbnail>
    <ion-button [routerLink]="['/']"> Intro</ion-button>
      <h4>Etapa 2: prelingüística</h4>
      <br>
  </ion-item>

  <ion-item class="etapa1" color="tertiary" button>
    <ion-thumbnail slot="end">
      <img src="../../assets/static/dashboard-1.jpeg">
    </ion-thumbnail>
      <h4>Etapa 3: prelingüística</h4>
      <br>
  </ion-item>

  <ion-item class="etapa1" color="danger" button>
    <ion-thumbnail slot="end">
      <img src="../../assets/static/dashboard-1.jpeg">
    </ion-thumbnail>
      <h4>Etapa 4: prelingüística</h4>
      <br>
  </ion-item>

  <ion-item class="etapa1" color="light" button>
    <ion-thumbnail slot="end">
      <img src="../../assets/static/dashboard-1.jpeg">
    </ion-thumbnail>
      <h4>Etapa 5: prelingüística</h4>
      <br>
  </ion-item>

  <ion-item class="etapa1" color="success" button>
    <ion-thumbnail slot="end">
      <img src="../../assets/static/dashboard-1.jpeg">
    </ion-thumbnail>
      <h4>Etapa 6: prelingüística</h4>
      <br>
  </ion-item>

  <ion-item class="etapa1" color="tertiary" button>
    <ion-thumbnail slot="end">
      <img src="../../assets/static/dashboard-1.jpeg">
    </ion-thumbnail>
      <h4>Etapa 7: prelingüística</h4>
      <br>
  </ion-item>

  <ion-item class="etapa1" color="danger" button>
    <ion-thumbnail slot="end">
      <img src="../../assets/static/dashboard-1.jpeg">
    </ion-thumbnail>
      <h4>Etapa 8: prelingüística</h4>
      <br>
  </ion-item>

</ion-content>
