<ion-content [fullscreen]="true" color="primary">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large" class="ion-text-center">Proceso</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item button *ngFor="let home of homes" 
            color="light" 
            style="border-radius: 10px; 
            margin: 30px;">
    <ion-thumbnail slot="end">
      <img src="{{ home.image }}" style="border-radius: 10px;">
    </ion-thumbnail>
    <ion-label>
      <p><strong>{{ home.numberPhase }}: </strong> {{ home.namePhase }}</p>
      <br>
      <strong 
      style="color: white;
      background-color: 
      gray; border-radius: 10px; 
      padding: 2px;">
      {{ home.progress }}</strong>
    </ion-label>
  </ion-item>

</ion-content>
